*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#img1,
#img2,
#img3 {
  float: left;
  margin: 10px;
  width: 30px;
}

.heading {
  float: left;
  margin: 10px;
  color: grey;
}

.card {
  width: 150px;
  height: 100px;
  margin: 20px;
  float: left;
}

.clearFloats {
  clear: both;
}

#fixDep {
  color: grey;
  margin: 20px;
}

#fd {
  text-align: left;
  width: 700px;
  margin: 20px;
}
.fdimg {
  width: 40px;
}

.fdcard {
  width: 300px;
  height: 150px;
  margin: 20px;
  float: left;
  margin-right: 100px;
}

#container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#container3 > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 3%;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 96%;
}
#container3 > div > img {
  width: 50%;
  margin: auto;
}
#container3 > div > button {
  width: 100%;
  height: 55px;
  border: none;
  background: #00d09c;
  border-radius: 5px;
  color: #e5faf5;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
#container3 > div > p {
  color: grey;
}

#container3 > div > h1 {
  font-size: 20px !important;
  color: grey;
}
