*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1349;
    height: 83px;
    position: relative;
}

#logo > img {
    width: 148px;
    aspect-ratio: auto 148 / 40;
    height: 40px;
    cursor: pointer;
}
.nav-a {
    position: absolute;
}
#nav-a-one {
    left: 300px;
}
#nav-a-two {
    left: 370px;
}
.nav-a > a {
    text-decoration: none;
    color: #44475b;
    letter-spacing: 0.3px;
    font-weight: 400;
}
.nav-a > a:hover {
    color: #00d09c;
}

#search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 442px;
    height: 39px;
    margin-left: 245px;
    margin-right: 20px;
    box-shadow: 0 1.5px 5px 1px hsla(0, 0%, 0%, 0.151);
    border-radius: 3px;
}

#search-box > input {
    border: none;
    width: 388px;
    height: 27px;
    padding: 1px 2px 1px 13px;
    font-size: 15px;
    outline: none;
}

#search-box > img {
    width: 19px;
    height: 19px;
    margin: auto 10px auto 10px;
}

#nav-sub-container {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    width: 247px;
}

#user-profile {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

#nav-sub-container-tool {
    position: relative;
    z-index: 0;
    height: 24px;
    width: 24px;
    margin-top: 5px;
}
#nav-sub-container-tool::after {
    content: "";
    position: absolute;
    transition: all 0.1s ease;
    top: 35px;
    right: -30px;
    /* display: none; */
}
#nav-sub-container-tool::before {
    content: "";
    position: absolute;
    top: 26.5px;
    right: 4px;
    /* display: none; */
}

#nav-sub-container-tool:hover:before {
    border-left: 1px solid #ecedef;
    border-top: 1px solid #ecedef;
    width: 16px;
    height: 16px;
    top: 26.5px;
    right: 4px;
    transform: rotate(45deg);
    z-index: 2;
    background: #fff;
    display: block;
}
#nav-sub-container-tool:hover:after {
    content: "You're All Caught Up";
    padding: 80px;
    width: 328px;
    height: 198px;
    top: 35px;
    right: -30px;
    border-radius: 5px;
    border: 1px solid #ecedef;
    z-index: 1;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1),
        -1px 1px 10px rgba(0, 0, 0, 0.1);
    display: block;
}

#hr-line-for-nav {
    height: 0;
    width: 100%;
    border-bottom: 1px solid #ecedef;
}

/* main content */
#stock-company-container {
    margin-top: 60px;
    margin-left: 130px;
    position: relative;
}
#stock-company-logo {
    width: 53px;
    height: 53px;
    margin-right: 10px;
    border-radius: 8px;
    border: 2px solid #ecedef;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#stock-company-logo > img {
    width: 36px;
    height: 36px;
}
#stock-company-name {
    font-weight: 400;
    color: #44475b;
    max-width: 390px;
    margin-top: 20px;
    font-size: 24px;
}
#stock-company-price {
    font-weight: 500;
    color: #44475b;
    height: 33px;
    line-height: normal;
    font-size: 26px;
    margin-top: 20px;
}

#buy-card {
    position: absolute;
    top: 0;
    right: 80px;
    width: 338px;
    height: 435px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 #0000001a;
    border: 1px solid #ecedef;
}
#buy-card-head {
    color: #00d09c;
    font-weight: bold;
    font-size: 14px;
    width: 67px;
    height: 50px;
    padding: 20px 20px 12px 20px;
    margin-left: 15px;
    border-bottom: 5px solid #00d09c;
}
#buy-card-hr-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ecedef;
}

#buy-card-price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#buy-card-price > div:nth-child(1) {
    color: #44475b;
    font-size: 14px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
#buy-card-price > div:nth-child(2) {
    width: 100px;
    height: 30px;
    background: #e5faf5;
    font-weight: bold;
    color: #00d09c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    margin-right: 20px;
}

#buy-card-stock-numbers {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#buy-card-stock-numbers > div:nth-child(1) {
    color: #44475b;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
#buy-card-stock-numbers > input {
    width: 100px;
    height: 30px;
    background: #e5faf5;
    font-weight: bold;
    color: #00d09c;
    padding: 5px;
    margin-right: 20px;
    outline: none;
    border: none;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#buy-card-hr-dotted{
    width: 100%;
    height: 1px;
    border-bottom: 2px dotted #ecedef;
}

#wallet-blance-error{
    font-size: 12px;
    color: rgb(252, 78, 78);
    text-align: center;
    margin-top: 5px;
}
#wallet-blance-succesful{
    font-size: 12px;
    color: #00d09c;
    text-align: center;
    margin-top: 5px;
}
#buy-card-note{
    width: 80%;
        font-size: 12px;
    line-height: 1.5;
    letter-spacing: .2px;
    color: #7c7e8c;
    text-align: center;
    margin: 100px auto 0 auto;
}

#buy-stock-btn{
    width:298px;
    height: 45px;
    border: none;
    background: #00d09c;
    font-weight: bold;
    color: #fff;
    font-size:16px;
    margin: 15px 0 0 20px;
    cursor: pointer;
}

#footer {
    width: 100%;
    height: 395px;
    background: #1e2232;

}

#footer > #footer-sec-1 {
    display: flex;
    width: 1110px;
    height: 271px;
    margin: auto;
    padding-top: 30px;
}

#footer-col-1 {
    width: 278px;
    height: 232px;
}
#footer-col-1 > div:nth-child(1) {
    width: 100%;
    height: 79px;
    display: flex;
    align-items: center;
}
#footer-col-1 > div:nth-child(1) > img {
    width: 150px;
    color: #fff;
}
#footer-col-1 > p {
    padding: 0 10px;
    margin: 15px auto;
    line-height: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
#footer-icon > img {
    width: 40px;
    height: 30px;
}
#footer-col-2 {
    width: 277px;;
    height: 224px;
    padding-left: 15px;
    margin-top: 17px;

}
.footer-col-head{
    margin: 10px 10px 25px 10px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    line-height: 21px;
    font-size: 18px;

}
.footer-col-sub-content{
    padding: 0 10px 10px 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;

}

#footer-col-3{
    width: 277px;
    height: 196px;
    margin-top:17px;
    
}
#footer-col-4{
    width: 277px;
    height: 196px;
    margin-top:17px;
}

/* --------------------------------------- */
#footer-hr-line {
    width: 1110px;
    height: 0;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1px solid #fff;
    opacity: 0.1;
}

#footer-sec-2 {
    width: 1110px;
    height: 45px;
    margin: 24px auto;
    display: flex;
    align-items: center;
}
#footer-sec-2 > div:nth-child(1){
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

#footer-sec-2 > div:nth-child(2){
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
#footer-sec-2 > div:nth-child(2) > img{
    margin-right: 50px;
    height:45px;
}
