*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1349;
    height: 83px;
    position: relative;
}

#nav-logo > img {
    width: 148px;
    aspect-ratio: auto 148 / 40;
    height: 40px;
    cursor: pointer;
}
.nav-a {
    position: absolute;
}
#nav-a-one {
    left: 300px;
}
#nav-a-two {
    left: 370px;
}
.nav-a > a {
    text-decoration: none;
    color: #44475b;
    letter-spacing: 0.3px;
    font-weight: 400;
}
.nav-a > a:hover {
    color: #00d09c;
}

#search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 442px;
    height: 39px;
    margin-left: 245px;
    margin-right: 20px;
    box-shadow: 0 1.5px 5px 1px hsla(0, 0%, 0%, 0.151);
    border-radius: 3px;
}

#search-box > input {
    border: none;
    width: 388px;
    height: 27px;
    padding: 1px 2px 1px 13px;
    font-size: 15px;
    outline: none;
}

#search-box > img {
    width: 19px;
    height: 19px;
    margin: auto 10px auto 10px;
}

#nav-sub-container {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    width: 247px;
}

#user-profile {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

#nav-sub-container-tool {
    position: relative;
    z-index: 0;
    height: 24px;
    width: 24px;
    margin-top: 5px;
    z-index: 10;

}
#nav-sub-container-tool::after {
    content: "";
    position: absolute;
    transition: all 0.1s ease;
    top: 35px;
    right: -30px;
    z-index: 10;
    /* display: none; */
}
#nav-sub-container-tool::before {
    content: "";
    position: absolute;
    top: 26.5px;
    right: 4px;
    z-index: 10;
    /* display: none; */
}

#nav-sub-container-tool:hover:before {
    border-left: 1px solid #ecedef;
    border-top: 1px solid #ecedef;
    width: 16px;
    height: 16px;
    top: 26.5px;
    right: 4px;
    transform: rotate(45deg);
    z-index: 2;
    background: #fff;
    display: block;
}
#nav-sub-container-tool:hover:after {
    content: "You're All Caught Up";
    padding: 80px;
    width: 328px;
    height: 198px;
    top: 35px;
    right: -30px;
    border-radius: 5px;
    border: 1px solid #ecedef;
    z-index: 1;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1),
        -1px 1px 10px rgba(0, 0, 0, 0.1);
    display: block;
}

/* footer */
#footer {
    width: 100%;
    height: 395px;
    background: #1e2232;
}

#footer > #footer-sec-1 {
    display: flex;
    width: 1110px;
    height: 271px;
    margin: auto;
    padding-top: 30px;
}

#footer-col-1 {
    width: 278px;
    height: 232px;
}
#footer-col-1 > div:nth-child(1) {
    width: 100%;
    height: 79px;
    display: flex;
    align-items: center;
}
#footer-col-1 > div:nth-child(1) > img {
    width: 150px;
    color: #fff;
}
#footer-col-1 > p {
    padding: 0 10px;
    margin: 15px auto;
    line-height: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
#footer-icon > img {
    width: 40px;
    height: 30px;
}
#footer-col-2 {
    width: 277px;
    height: 224px;
    padding-left: 15px;
    margin-top: 17px;
}
.footer-col-head {
    margin: 10px 10px 25px 10px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    line-height: 21px;
    font-size: 18px;
}
.footer-col-sub-content {
    padding: 0 10px 10px 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

#footer-col-3 {
    width: 277px;
    height: 196px;
    margin-top: 17px;
}
#footer-col-4 {
    width: 277px;
    height: 196px;
    margin-top: 17px;
}

#footer-hr-line {
    width: 1110px;
    height: 0;
    margin: auto;
    margin-top: 30px;
    border-bottom: 1px solid #fff;
    opacity: 0.1;
}

#footer-sec-2 {
    width: 1110px;
    height: 45px;
    margin: 24px auto;
    display: flex;
    align-items: center;
}
#footer-sec-2 > div:nth-child(1) {
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

#footer-sec-2 > div:nth-child(2) {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#footer-sec-2 > div:nth-child(2) > img {
    margin-right: 50px;
    height: 45px;
}

/* sub-nav */
#sub-nav-container{
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #ecedef;

}
#dashboard-sub-nav {
    width: 1110px;
    
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
}
.dashboard-sub-nav-content {
    font-size: 18px;
    line-height: 15px;
    padding-right: 45px;
    height: 54px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #44475b;
    position: relative;
}
.dashboard-sub-nav-content::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0px;
    background: #00d09c;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease;
}
.dashboard-sub-nav-content:hover:after {
    width: 80%;
}

/* Main Section */
.dashboard-main-section{ /* This class is manupulate by JS*/
   display:none; 

}
#dashboard-main-stock{
    position: relative;
    background:#fff;
    height: 2150px;
}

/* stocks section */
.row .col {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

@media only screen and (min-width: 800px) {
  .row .col .l12 {
    width: 100%;
  }
}
.main_container {
  width: 100%;
}
.cont_1 {
  width: 1110px;
  margin: 60px auto;
}
.cont_11 {
  width: 100%;
  margin: 0;
}
.cont_111 {
  width: 65.666667%;
  float: left;
  background-color: seashel;
  padding: 10px;
}
.cont_112 {
  width: 34.3333%;
  float: left;
  display: flex;
  justify-content: center;

  padding: 10px;
  background: #fff;
}
.cont_1111 {
  min-height: 36px;
}
.marketOpenText {
  color: #737475;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
}

.ind878ListDiv,
.ind878SecDiv {
  justify-content: space-between;
}

.ind878SecDiv {
  margin: 0 0 30px;
}
.text_Index {
  float: left;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.23px;
  color: #44475b;
}
.ind878SecDiv {
  margin: 0 0 30px;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
.absolute-center,
.align-wrapper {
  display: flex;
  align-items: center;
}
.screenerDiv {
  background: #e5faf5;
  mix-blend-mode: normal;
  border-radius: 16px;
  padding: 6px 18px;
  margin-right: 8px;
  cursor: pointer;
  color: #00d09c;
}
.ScreenerText {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.37px;
  text-transform: uppercase;
  color: #00d09c;
}
.absolute-center,
.valign-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nifty .sensex {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
  max-width: 710px;
  cursor: pointer;
  justify-content: space-between;
}
a {
  color: #5367ff;
}
.box_shadow {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
}
.inside_shadowbox {
  max-width: 348px;
  min-height: 72px;
  min-width: 348px;
  padding: 14px 16px;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.row .col {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

.left_cont1 {
  width: 90%;
  margin: 0 auto;
}

.leftside_cont_1 {
  width: 100%;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.cont_112_child {
  width: 95%;
  margin: 0 0 25px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ecedef;
  border-radius: 5px;
}
.box_shadow:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
.ul_1 {
  padding: 9px 18px;
  margin: 0;
  list-style: none;
  list-style-position: inside;
}
.ul_1:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
a {
  color: #5367ff;
  text-decoration: none;
}
.li_text {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.16px;
  color: #44475b;
}
.li_div1 {
  background-color: #f6f6f7;
  margin-right: 18px;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}
.list_margin {
  border-bottom: 1px solid #ecedef;
  padding: 12px 0;
  cursor: pointer;
}

.cont_112_child2 {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 350px;
  min-width: 150px;
  height: 416px;
  border-radius: 5px;
  clear: both;
  padding: 20px;
  margin-bottom: 60px;
  border: 1px solid #ecedef;
}

.cont_112_child2_div1 {
  margin-top: 16px;
}
.center_align {
  text-align: center;
}
.cont_112_child2_div2 {
  margin-top: 10px;
}
.cont_112_child2_div2_text1 {
  margin-top: 30px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  letter-spacing: 0.01em;
  line-height: 160%;
  font-size: 1rem;
  color: #44475b;
}
.cont_112_child2_div2_text2 {
  padding: 8px 5px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 60px;
  color: #44475b;
  font-weight: 400;

  font-size: 1rem;
}

.complte_setup_btn {
  width: 290px;
  height: 56px;
  display: inline-block;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  background: #00d09c;
  color: #fff;
}
.cont_1114 {
  margin-top: 150px;
  margin-bottom: 20px;
  max-width: 724px;
}
.cont_1115 {
  margin-left: auto;
  margin-right: auto;
}
.stocks_in_news {
  max-width: 710px;
  justify-content: flex-start;
}
.stock_box {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  max-width: 165px;
  min-height: 190px;
  min-width: 160px;
  width: 100%;
  padding: 15px;
  position: relative;
  border-radius: 8px;
  margin-right: 22px;
  background: #fff;
  cursor: pointer;
}
.stock_box:hover {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
}
.stock_box_child11 {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ecedef;
  background: #fff;
}
.stock_box_child12 {
  display: none;
}
.bank_text {
  font-weight: 600;
  color: #44475b;
  margin-right: 15px;
  min-height: 45px;
  margin-top: 20px;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}

.grid_div {
  float: left;
  height: 35px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  display: flex;
  padding: 6px 10px;
  margin: 0 8px 12px 0;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #44475b;
  cursor: pointer;
}
.grid_div:hover {
  background-color: #dcdddd;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
}
.grid_div div {
  margin: 0 5px;
  float: left;
}
table {
  border-collapse: collapse;
  width: 710px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.table_head {
  height: 60px;
  background: #f6f6f6f7;
  padding-left: 20px;
  padding-right: 20px;
}
.table_row {
  height: 55px;
  padding-left: 20px;
  padding-right: 20px;
}
.table_footer {
  height: 55px;
  padding-left: 20px;
  padding-right: 20px;
}
.table_col_footer {
  width: 1000px;
  background: rosybrown;
}
.table_colHead {
  border-bottom: 1px solid #dcdddd;
  width: 243px;
  padding: 0 15px;
  text-align: left;
  font-size: 14px;
  font-weight: 400px;
  color: #44475b;
  background: #f6f6f7;
}
.table_col {
  border-bottom: 1px solid #dcdddd;
  width: 243px;
  padding: 0 15px;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  color: #44475b;
}
.table_col2 {
  width: 100px;
  padding: 0 20px;
}

.table_text {
  font-size: 12px;
  color: #00d090;
  margin-top: 5px;
  text-align: right;
}
.lable_cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  margin-left: 80px;
  margin-bottom: 20px;
}
.lable_cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  float: right;
}
.lable_cont span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #00d090;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00d090;
}


/* Main Content Us Stock */
#main{
    position: relative;
    margin: auto;
    width: 1270px;
}
#logo{
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color:  #44475b;
   
}

#button-nav > button {
    width: 145px;
    height: 35px;
    border: none;
    background:#e5faf5;
    border-radius: 20px;
    color:#00d09c;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .5px;
   
    text-transform: uppercase;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    

}
#container > div{
    width:22%;
   margin: 2%;
    margin-left: 0%;
    margin-top: 0px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}
#container > div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.151);
}
#hed{
 margin:auto;
 margin-left: 2%;
 margin-bottom: 5%;
 color:grey;
 margin-top: 30px;
 font-weight: 700px;
 
 font-family: "Roboto", sans-serif;
}
#container > div> img{
    width: 30%;
    height:30%;
    margin-bottom: 15%;
    border: .5px solid rgb(196, 195, 195);
}
#container > div> p{
    color:grey;
    margin-bottom: 15%;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;


}

#navdiv1{
    display: flex;
    justify-content:space-between;
    margin-bottom: 5%;
    margin-left: 2%;
   
 
}
#navdiv{
    display: flex;
    justify-content:space-between;
    margin-bottom: 4%;
    margin-top: 5%;
   
 
}
#container > div> h1{
    color:#00d09c;;
    font-family: "Roboto", sans-serif;
    font-size: 17px !important;
    font-weight: 400;

}
#container2{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
#container2 >div{
    display: flex;
    justify-content:space-between;
    width:48%;
    margin: 1%;
    margin-left: 0%;
    height: 40px !important;
    margin-top: 0px;
    color: grey;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 1px;
    cursor: pointer;
}
#container2 > div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.151);
}
#container2 >div >div>h1{
    color:#00d09c;
    font-size: 18px !important;

}
#null{
    clear: both;
}
#container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 2%;
    right: 5%;
    width: 28%;
    font-family: "Roboto", sans-serif;
   
  
   
}
#container3 >div{
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3%;
   text-align: center;
    justify-content: center;
    align-items: center;
    width:96%;
}
#container3 >div>img{
    width: 50%;
    aspect-ratio: 1/1;
    margin: auto;
    margin-bottom: 10%;

}
#container3 >div>button{
    width: 100%;
    height: 55px;
    border: none;
    background: #00d09c;
    border-radius: 5px;
    color: #e5faf5;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .1px;
}
#container3 >div>button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.151);
}
#container3 >div>p{
    font-family: "Roboto", sans-serif;
    color: gray;
    margin-bottom: 10%;

}
#container3 >div>h1{
    font-size: 20px !important;
    color:  #44475b;
    margin-bottom: 10%;

}

#main1{
   width:60%;
   margin-left: 5%;
   margin-right: 5%;
  

}
#container4{
  
  display: inline-flex;
margin-bottom: 5%;

}
#container4 >div{
    display: flex; 
    margin: 1%; 
    margin-top: 0px;
    color: grey;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 2%;
    letter-spacing: 1px;
}
#smallcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#smallbutton{
    width: 145px;
    height: 35px;
    border: none;
    background: white;
    border-radius: 20px;
    color:#00d09c;;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .2px;
}
#container5{
    margin-bottom: 5%;

}
#container5 > div{
    padding-bottom: 3%;
    padding-top: 3%;
    border-bottom: .2px solid rgb(182, 181, 181);
   
    margin-right: 5%;
    font-weight: 700;
    font-size: 14px !important;
    color: rgb(102, 100, 100);
    cursor: pointer;
}
.grid_div {
  float: left;
  height: 35px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  display: flex;
  padding: 6px 10px;
  margin: 0 8px 12px 0;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #44475b;
  cursor: pointer;
}
.grid_div:hover {
  background-color: #dcdddd;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
}
.grid_div div {
  margin: 0 5px;
  float: left;
}
#hed > img{
  width: 18px;
  aspect-ratio: 1/1;
  opacity: 0.4;
  
}
#container5 > p{
    padding-bottom: 3%;
    padding-top: 3%;
    margin-right: 5%;
    font-weight: 500;
    font-size: 14px !important;
    color: grey;
    line-break: loose;

}

/* Mutual Funds */
#dashboard-main-mf{
  height: 1000px;
}
.row .col {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

@media only screen and (min-width: 800px) {
  .row .col .l12 {
    width: 100%;
  }
}
.main_container {
  width: 100%;
}
.cont_1 {
  width: 1110px;
  margin: 60px auto;
}
.cont_11 {
  width: 100%;
  margin: 0;
}
.cont_111 {
  width: 65.666667%;
  float: left;

  padding: 10px;
}
.cont_112 {
  width: 34.3333%;
  float: left;
  display: flex;
  justify-content: center;

  padding: 10px;
  background: #fff;
}
.cont_1111 {
  min-height: 36px;
}
.marketOpenText {
  color: #737475;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
}

.ind878ListDiv,
.ind878SecDiv {
  justify-content: space-between;
}

.ind878SecDiv {
  margin: 0 0 30px;
}
.ind878SecDiv {
  margin: 0 0 30px;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
.absolute-center,
.align-wrapper {
  display: flex;
  align-items: center;
}
.ScreenerText {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.37px;
  text-transform: uppercase;
  color: #00d09c;
}
.absolute-center,
.align-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_shadow {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
}
.inside_shadowbox {
  max-width: 348px;
  min-height: 72px;
  min-width: 348px;
  padding: 14px 16px;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.row .col {
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}

.left_cont1 {
  width: 90%;
  margin: 0 auto;
}

.leftside_cont_1 {
  width: 100%;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.cont_112_child {
  width: 95%;
  margin: 0 0 25px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ecedef;
  border-radius: 5px;
}
.box_shadow:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.cont_112_child2 {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 350px;
  min-width: 150px;
  height: 416px;
  border-radius: 5px;
  clear: both;
  padding: 20px;
  margin-bottom: 60px;
  border: 1px solid #ecedef;
}

.center_align {
  text-align: center;
}
.cont_112_child2_div2 {
  margin-top: 10px;
}
.cont_112_child2_div2_text1 {
  margin-top: 20px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  letter-spacing: 0.01em;
  line-height: 160%;
  font-size: 1.3rem;
  color: #44475b;
}
.cont_112_child2_div2_text2 {
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 60px;
  color: #797b86;
  font-weight: 400;

  font-size: 0.9rem;
}

.complte_setup_btn {
  width: 290px;
  height: 45px;
  display: inline-block;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  background: #00d09c;
  color: #fff;
}
.cont_1114 {
  margin-top: 150px;
  margin-bottom: 20px;
  max-width: 724px;
}

.stock_box {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
  max-width: 165px;
  min-height: 190px;
  min-width: 160px;
  width: 100%;
  padding: 15px;
  position: relative;
  border-radius: 8px;
  margin-right: 22px;
  background: #fff;
  cursor: pointer;
}
.stock_box:hover {
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.3);
}
.stock_box_child11 {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ecedef;
  background: #fff;
}
.stock_box_child12 {
  display: none;
}
.bank_text {
  font-weight: 600;
  color: #44475b;
  margin-right: 15px;
  min-height: 45px;
  margin-top: 20px;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  line-height: 160%;
}
.handpicked {
  justify-content: space-between;
  max-width: 710px;
  margin-top: 30px;
}
.handpicked a {
  text-align: center;
  cursor: pointer;
}
.handpicked div {
  font-size: 12px;
  line-height: 2.35;
  letter-spacing: -0.18px;
  text-align: center;
  margin-top: 16px;
  font-weight: 600;
  color: #44475b;
}

.box_cont {
  max-width: 710px;
  padding: 42px 30px;
  border-radius: 10px;
  background: #f6f6f7;
  justify-content: space-around;
  margin-top: 62px;
  border: 1px solid #ecedef;
}
.box_cont div {
  justify-content: space-around;
}
.box_cont_1 {
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
}
.box_cont_12 {
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.box_text {
  font-size: 13px;
  text-align: center;
  color: #44475b;
  margin-top: 17px;
  width: 100px;
}
.box_text:hover {
  color: #00d09c;
}


/* fixed Deposit */
    #main{
    position: relative;
    margin: auto;
    width: 1270px;
    margin-top: 5%;
}

#container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 50%;
    right: 5%;
    width: 28%;
    font-family: "Roboto", sans-serif;
 
   
  
   
}
#container3 >div{
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3%;
   text-align: center;
    justify-content: center;
    align-items: center;
    width:96%;
}
#container3 >div>img{
    width: 50%;
    aspect-ratio: 1/1;
    margin: auto;
    margin-bottom: 10%;

}
#container3 >div>button{
    width: 100%;
    height: 55px;
    border: none;
    background: #00d09c;
    border-radius: 5px;
    color: #e5faf5;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .1px;
}
#container3 >div>button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.151);
}
#container3 >div>p{
    font-family: "Roboto", sans-serif;
    color: gray;
    margin-bottom: 10%;

}
#container3 >div>h1{
    font-size: 20px !important;
    color:  #44475b;
    margin-bottom: 10%;

}
#main1{
   width:60%;
   margin-left: 5%;
   margin-right: 5%;
  

}
#header{
    display: flex;
    flex-direction: row;
}
#header>div>img{
    width: 35px;
    aspect-ratio: auto 35 / 35;
    height: 35px;
}
#heading{
    margin-left: 15px;
    padding-top: 5px;
    font-size: 21px;
    font-weight: 500;
    color:#44475b;
    font-family: Roboto,system-ui;
    letter-spacing: .2px;


}
#container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;

}
#container1>div{
    width:22%;
    height: 132px;
   margin: 2%;
    margin-left: 0%;
    margin-top: 5%;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Roboto,system-ui;
    cursor: pointer;
}
#contdiv1{
 width: 77.5%;
 height: 25%;
 
 border-bottom: 1px solid #ecedef;
 font-size: 24px;
    font-weight: 500;
    color: #44475b;
    padding: 20px;
}
#contdiv2{
    font-size: 14px;
    line-height: 21px;
    padding: 20px;

}
#font{
   color:#44475b;
   font-family: "Roboto", sans-serif;
   font-size: 15px;
    margin-top: 15px;
    letter-spacing: .3px;
    text-align: justify;
    line-height: 27px;
   
}
#container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
   
   
}
#container2 >div{
    width:48%;
    margin: 1%;
    margin-left: 40px;
    margin-top: 0px;  
}
#logo{
    
    margin-top: 10%;
     font-family: "Roboto", sans-serif;
     color:  #44475b;
     font-size: 24px;
     font-weight: 500;
     letter-spacing: .44px;
     margin-bottom: 0;
}
#head1{
    color:#44475b;
   font-family: "Roboto", sans-serif;
   font-size: 18px;
    margin-top: 15px;
    font-weight: 500;

}
#para1{
    color:#44475b;
   font-family: "Roboto", sans-serif;
   margin-top: 0px;
    font-size: 14px;
    line-height: 1.57;
    max-width: 250px;
    letter-spacing: .26px;
}

/* gold */
#dashboard-main-gold #main{
    position: relative;
    margin: auto;
    width: 1270px;
    margin-top: 5%;
}
#dashboard-main-gold #logo{
    
   margin-top: 10%;
    font-family: "Roboto", sans-serif;
    color:  #44475b;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .44px;
    margin-bottom: 0;
   
}
#dashboard-main-gold #container3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    top: 2%;
    right: 5%;
    width: 28%;
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
   
  
   
}
#dashboard-main-gold #container3 >div{
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3%;
   text-align: center;
    justify-content: center;
    align-items: center;
    width:96%;
}
#dashboard-main-gold #container3 >div>img{
    width: 50%;
    aspect-ratio: 1/1;
    margin: auto;
    margin-bottom: 10%;

}
#dashboard-main-gold #container3 >div>button{
    width: 100%;
    height: 55px;
    border: none;
    background: #00d09c;
    border-radius: 5px;
    color: #e5faf5;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .1px;
}
#dashboard-main-gold #container3 >div>button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.151);
}
#dashboard-main-gold #container3 >div>p{
    font-family: "Roboto", sans-serif;
    color: gray;
    margin-bottom: 10%;

}
#dashboard-main-gold #container3 >div>h1{
    font-size: 20px !important;
    color:  #44475b;
    margin-bottom: 10%;

}
#dashboard-main-gold #main1{
   width:60%;
   margin-left: 5%;
   margin-right: 5%;
  

}
#dashboard-main-gold #font{
   color:#44475b;
   font-family: "Roboto", sans-serif;
   font-size: 15px;
    margin-top: 15px;
    letter-spacing: .3px;
    text-align: justify;
    line-height: 27px;
}
#dashboard-main-gold #container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
   
   
}
#dashboard-main-gold #container2 >div{
    width:48%;
    margin: 1%;
    margin-left: 40px;
    margin-top: 0px;  
}
#dashboard-main-gold #head1{
    color:#44475b;
   font-family: "Roboto", sans-serif;
   font-size: 18px;
    margin-top: 15px;
    font-weight: 500;

}
#dashboard-main-gold #para1{
    color:#44475b;
   font-family: "Roboto", sans-serif;
   margin-top: 0px;
    font-size: 14px;
    line-height: 1.57;
    max-width: 250px;
    letter-spacing: .26px;

}
#dashboard-main-gold #container4{
    
    position: relative;
    margin-top: 30px;
    padding: 20px 40px 0;
    width: 100%;
    min-height: 540px;
    border-radius: 10px;
    background: #f6f6f7;
    border: #ecedef;

}
#dashboard-main-gold #nav{

    display: flex;
    justify-content: left;
}
#dashboard-main-gold #nav>div{
    font-size: 18px;
    line-height: 15px;
    padding-right: 45px;
    padding-left: 16px;
    height: 54px;
    cursor: pointer;
    color: #d2ab66;
   
}
#dashboard-main-gold #circle{
    border: 1px solid #d2ab66 ;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: inline-block;

}
#dashboard-main-gold #cirnum{
    text-align: center;
    padding-top: 12px;
    color: #d2ab66;

}
#dashboard-main-gold #block{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
   
}
#dashboard-main-gold #block1{
    margin-left: 50px;
    padding: 5%;
}
#dashboard-main-gold #head2{
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.48;
    color: #44475b;
    font-family: "Roboto", sans-serif;

}
#dashboard-main-gold #para2{
    margin-left: 20px;
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: #44475b;
    font-family: "Roboto", sans-serif;
    max-width: 400px;
}
#dashboard-main-gold #bimg{
    margin-left: 600px;
    margin-top:2% ;
}
#dashboard-main-gold #questions{
    font-weight: 500;
    color: #44475b;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: .56px;
    font-family: "Roboto", sans-serif;
    margin-top: 5%;


}
#dashboard-main-gold #subquestions>div{
    padding-bottom: 3%;
    padding-top: 3%;
    border-bottom: .2px solid rgb(182, 181, 181);
    margin-right: 5%;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    letter-spacing: .26px;
    color: #44475b;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}
#dashboard-main-gold #subquestions>div>div>img{
    opacity: .6;
}
#dashboard-main-gold #heavy{
    padding-top: 5px;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: .59px;
    color: #44475b;

    
}
#dashboard-main-gold #crt{
    font-size: 16px;
    color:#44475b;

}
#dashboard-main-gold #gdk{
    font-size: 13px;
    font-weight: 500;
    height: 18px;
    letter-spacing: .5px;
    border-radius: 15px;
    padding: 4px 10px;
    margin-right: 10px;
    color: #44475b;
    border: 1px solid #ecedef;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
#dashboard-main-gold #heavy2{
    padding-top: 5px;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: .59px;
    color: #44475b;
    margin-top: 2.6%;

    
}
#dashboard-main-gold #light{
    font-size: 16px;
    opacity: .7;
    letter-spacing: .3px;
    color: grey;
}
#dashboard-main-gold #container1{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
#dashboard-main-gold #container1>div>div>img{
    width: 60px;
    aspect-ratio: auto 60 / 60;
    height: 60px;
}
#dashboard-main-gold #xrsc{
    display: flex;
    flex-direction: row;
}
#dashboard-main-gold #photo>img{
    width: 100%;
    height: 290px;

}