*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    overflow-x: hidden;
}
/* Navigation Styling */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1349;
    height: 83px;
}

#logo > img {
    width: 148px;
    aspect-ratio: auto 148 / 40;
    height: 40px;
    cursor: pointer;
}

#search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 442px;
    height: 39px;
    margin-left: 245px;
    box-shadow: 0 1.5px 5px 1px hsla(0, 0%, 0%, 0.151);
    border-radius: 3px;
}

#search-box > input {
    border: none;
    width: 388px;
    height: 27px;
    padding: 1px 2px 1px 13px;
    font-size: 15px;
    outline: none;
}

#search-box > img {
    width: 19px;
    height: 19px;
    margin: auto 10px auto 10px;
}

#button-nav {
    margin-left: 100px;
}

#button-nav > button {
    width: 175px;
    height: 45px;
    border: none;
    background: #00d09c;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#button-nav > button:focus,
#button-nav > button:hover {
    background: #20d6a9;
}

/* Main Content Section-1 */

#section-1 {
    width: 1110px;
    height: 1495px;
    margin: 0 auto;
}

/* Main Content Section-1 > wrapper-one*/
#wrapper-one {
    width: 1110px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main Content Section-1  wrapper-one First Div*/
#wrapper-one > div:first-child {
    width: 400px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wrapper-one > div:first-child > h1 {
    position: relative;
    width: 362;
    height: 45;
    font-size: 38px;
    color: #44475b;
    letter-spacing: 0.3px;
    cursor: default;
}

#vertical-sliding {
    display: inline;
}

#vertical-sliding > span {
    position: absolute;
    width: 100%;
}

#vs-1 {
    color: #5367ff;
}
#vs-2 {
    color: #00d09c;
}
#vs-3 {
    color: #ffb61b;
}
#vs-4 {
    color: #eb5b3c;
}
#vs-5 {
    color: #d2ab66;
}
#vs-6 {
    color: #5367ff;
}

#wrapper-one > div:first-child > h4 {
    color: #7c7e8c;
    letter-spacing: 0.3px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    width: 362px;
    cursor: default;
}

#btn-get-started {
    width: 200px;
    height: 55px;
    border: none;
    background: #00d09c;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-out;
}

#btn-get-started:focus,
#btn-get-started:hover {
    background: #20d6a9;
}

/* Main Content Section-1  wrapper-one Last Div*/
#wrapper-one > div:last-child {
    width: 510px;
    height: 555px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.home-box {
    width: 205px;
    height: 155px;
    padding: 20px;
    margin: 15px 0 15px 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.089);
    cursor: pointer;
}

.home-box > img {
    width: 49px;
    height: 49px;
    margin-left: -7px;
}

.home-box > div {
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #44475b;
    margin-top: 20px;
}

/* Main Content Section-1 > wrapper-two*/
#wrapper-two {
    width: 1110px;
    height: 206px;
    margin-top: 30px;
}

#wrapper-two > div:nth-child(1) {
    width: 111px;
    height: 24px;
    padding: 5px 10px;
    font-size: 12px;
    color: #7c7e8c;
    background: #ecedef;
    font-weight: 400;
    border-radius: 15px;
    border: 1px solid #ecedef;
    width: fit-content;
    cursor: default;
}

#wrapper-two > h2 {
    font-size: 36px;
    color: #44475b;
    line-height: 25px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin: 30px 0 70px 0;
    cursor: default;
}

#wrapper-two > div:nth-child(3) {
    width: 1110px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.sub-box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -3px 0 0 #20d6a9; /* Going to use javaScript*/
}

.sub-box > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eef0ff;
    text-align: center;
}

.sub-box > div {
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
    letter-spacing: 0.15px;
    color: #1e2232;
    margin-left: 10px;
}

#sub-box5 {
    margin-right: 175px;
    justify-content: flex-start;
}

/* Main Content Section-1 > wrapper-Three*/

#wrapper-three {
    width: 1110px;
    height: 359px;
    margin: 100px 0 200px 0;
    display: flex;
    align-items: center;
}

#wrapper-three > div:nth-child(1) > img {
    width: 562px;
    height: 359px;
}

#wrapper-three > div:nth-child(2) {
    width: 458px;
    height: 100%;
    margin-top: -35px;
    color: #1e2232;
    margin-left: 50px;
}
#wrapper-three > div:nth-child(2) > div:nth-child(1) {
    font-weight: bolder;
    letter-spacing: 1.2px;
    font-size: 80px;
    margin-top: 40px;
}
#wr-3sub-main-text {
    display: inline;
}
#wr-3sub-sub-text {
    font-size: 28px;
    font-weight: 600;
}
#wr-3sub-p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    color: #1e2232;
}

#wr-3sub-button {
    width: 205px;
    height: 45px;
    margin-top: 40px;
    border: none;
    background: #00d09c;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-out;
}
#wr-3sub-button:focus,
#wr-3sub-button:hover {
    background: #20d6a9;
}

/* Main Content Section-2 */

#section-2 {
    width: 100%;
    height: 100vh;
    min-height: 650px;
    max-height: 1100px;
    aspect-ratio: auto 1349 / 650;
    background: no-repeat url(/assets/bubbles.png), #5367ff;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#section-2 > div {
    width: 1440px;
    height: 100%;
    background: center no-repeat
        url(https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/shield-groww.0d0cc15e.png);
    background-size: 100%;
    object-fit: cover;
}

#section-2 > div {
    color: #fff;
    display: flex;
    align-items: center;
}

#section-2 > div > div {
    width: 590px;
    margin-left: 150px;
}
.s2-head {
    font-weight: bolder;
    font-size: 60px;
    line-height: 84px;
    letter-spacing: 0.3px;
}
.s2-p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}
