<nav>
    <div id="logo">
        <a href="/">
            <img
                src="/assets/logo-dark-groww.83f43714.svg"
                alt="logo"
            />
        </a>
    </div>
    <div id="search-box">
        <input
            type="text"
            id="search-input"
            placeholder="Search stocks and mutual funds"
        />
        <img src="/assets/search.494f6987.svg" alt="search" />
    </div>
    <div id="button-nav">
        <button id="login" onclick="loginPopUp()">
            Login/Register
        </button>
    </div>
</nav>
