<nav>
    <div id="nav-logo">
        <a href="/">
            <img
                src="https://assets-netstorage.groww.in/website-assets/prod/1.8.0/build/client/images/logo-dark-groww.83f43714.svg"
                alt="logo"
            />
        </a>
    </div>
    <div class="nav-a" id="nav-a-one" style="margin-left: 25px">
        <a href="/dashboard">Explore</a>
    </div>
    <div class="nav-a" id="nav-a-two" style="margin-left: 25px">
        <a href="/investments">Investments</a>
    </div>
    <div id="search-box">
        <input
            type="text"
            id="search-input"
            placeholder="Search stocks and mutual funds"
        />
        <img
            src="https://assets-netstorage.groww.in/website-assets/prod/1.8.0/build/client/images/search.494f6987.svg"
            alt="search"
        />
    </div>
    <div id="nav-sub-container">
        <div id="nav-sub-container-tool">
            <img src="/assets/notification-bell.svg" alt="notification" />
        </div>
        <a href="/wallet">
            <img
                src="/assets/account_balance_wallet_black_24dp.svg"
                alt="wallet"
            />
        </a>
        <a href="#">
            <img src="/assets/shopping_cart_black_24dp.svg" alt="cart" />
        </a>

        <a href="/profile/basic-details">
            <img
                id="user-profile"
                src="https://img.favpng.com/25/13/19/samsung-galaxy-a8-a8-user-login-telephone-avatar-png-favpng-dqKEPfX7hPbc6SMVUCteANKwj.jpg"
                alt="user Profile"
            />
        </a>
    </div>
</nav>
