<div class="cont1">
            <div class="profile_pic_box">
                <img id user_img src="https://assets-netstorage.groww.in/website-assets/prod/1.8.3/build/client/images/d.151e924a.svg"
                    alt="Profile Picture">
            </div>
            <div class="User_name caps" id="user_name">
                <%= user.name %> 
            </div>
            <div onclick="basic_profile()" class="row row1">
                <p>Basic Detail</p>
                <p class="p1">➤</p>
            </div>
            <div onclick="holding_stocks()" class="row">
                <p>Holding Stocks</p>
                <p class="p1">➤</p>
            </div>
            <div onclick="change_password()" class="row">
                <p>Change Password</p>
                <p class="p1">➤</p>
            </div>
            <div onclick="logout()" class="row ">
                <p>Logout</p>
                <p class="p1"></p>
            </div>
        </div>