<div id="sub-nav-container">
    <div id="dashboard-sub-nav">
        <div class="dashboard-sub-nav-content">
            <a href="/dashboard/stocks"> Stocks </a>
        </div>
        <div class="dashboard-sub-nav-content">
            <a href="/dashboard/mutual-funds"> Mutual Funds </a>
        </div>
        <div class="dashboard-sub-nav-content">
            <a href="/dashboard/fixed-deposit"> Fixed Deposits </a>
        </div>
        <div class="dashboard-sub-nav-content">
            <a href="/dashboard/gold"> Gold </a>
        </div>
        <div class="dashboard-sub-nav-content">
            <a href="/dashboard/us-stocks"> US Stocks </a>
        </div>
    </div>
</div>
