<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            rel="icon"
            type="image/png"
            href="https://groww.in/logo-groww270.png"
            sizes="32x32"
        />
    
    <title>Fixed Deposits</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sub-nav.css">
    <link rel="stylesheet" href="/css/fixed-deposit.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>
<body>
    
    <!-- nav using partials (include takes relative path)-->
    <%- include("../../partials/navbar.partial.ejs") %>       
        
    <!-- sub-nav using partials (include takes relative path)-->
    <%- include("../../partials/sub-nav.partial.ejs") %>   

    <section id="dashboard-main-fd" class="dashboard-main-section">
        <div id="main">
     <div id="main1">
         <section>
            <div id="header">
                     <div>
                         <img src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/equitasBank.4f287ec8.svg">
                     </div>
                     <div id="heading">
                        Equitas Bank FDs
                     </div>
            </div>
             <div id="container1">
                 <div>
                     <div id="contdiv1">
                        6.35%
                     </div>
                     <div id="contdiv2">
                        1 Year
                     </div>

                 </div>
                 <div>
                    <div id="contdiv1">
                        5.25%
                    </div>
                    <div id="contdiv2">
                        9 months
                    </div>

                </div>
                <div>
                    <div id="contdiv1">
                        5.25%
                    </div>
                    <div id="contdiv2">
                        6 months
                    </div>

                </div>
                <div>
                    <div id="contdiv1">
                        4.75%
                    </div>
                    <div id="contdiv2">
                        3 months
                    </div>

                </div>
             </div>
         </section>
         <section>
            <div id="header">
                     <div>
                         <img src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/bflBank.8a174584.svg">
                     </div>
                     <div id="heading">
                        Bajaj Finance NBFC FDs
                     </div>
            </div>
             <div id="container1">
                <div>
                    <div id="contdiv1">
                       6.10%
                    </div>
                    <div id="contdiv2">
                       2 Years
                    </div>

                </div>
                <div>
                   <div id="contdiv1">
                       5.35%
                   </div>
                   <div id="contdiv2">
                       1 Year
                   </div>

               </div>
               <div>
                   <div id="contdiv1">
                       6.50%
                   </div>
                   <div id="contdiv2">
                       3 Years
                   </div>

               </div>
               <div>
                   <div id="contdiv1">
                       6.50%
                   </div>
                   <div id="contdiv2">
                       5 Years
                   </div>

               </div>
             </div>
         </section>
         <section>
            <div id="header">
                     <div>
                         <img src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/axisBank.22cf1a19.svg">
                     </div>
                     <div id="heading">
                        Axis Bank FDs
                     </div>
            </div>
             <div id="container1">
                <div>
                    <div id="contdiv1">
                       5.40%
                    </div>
                    <div id="contdiv2">
                       2 Years
                    </div>

                </div>
                <div>
                   <div id="contdiv1">
                       4.40%
                   </div>
                   <div id="contdiv2">
                       6 months
                   </div>

               </div>
               <div>
                   <div id="contdiv1">
                       5.10%
                   </div>
                   <div id="contdiv2">
                       1 Year
                   </div>

               </div>
               <div>
                   <div id="contdiv1">
                       6.75%
                   </div>
                   <div id="contdiv2">
                       1 Year 6 months
                   </div>

               </div>

                 
             </div>
         </section>
         <section>
            <div id=container4>
                <div id="logo">                  
                 About Fixed Deposits
                </div>
                <div id="font">
                    High rate Fixed Deposits are a safe investment instrument which also generates good returns.When you invest in a fixed deposit in groww, the money is safely deposit into a RBI backed bank or NBFC. All bank deposits are also backed by deposit insurance upto 5 Lakhs provide by DICGC, a wholly owned subsidary of RBI.
   
                </div>
         </section>
         <section>
                <div id="container2">
                    <div>
                       <img  src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/fd_secure.f9165d08.svg"/>
                       <div id="head1">100% secure</div>
                       </br>
                       <div id="para1">Banks FDs are insured upto rs 5 lakhs by RBI</div>
                   
                    </div>
                    <div>
                       <img src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/high_interest.4073f1f7.svg"/>
                   <div id="head1">High Interest Rates</div>
                   </br>
                   <div  id="para1">We have tenures with the highest interest rates in the market</div>
                    </div>
                   </div>
                   <div id="container2">
                       <div>
                           <img src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/sell_anytime.0200c8d1.svg"/>
                   <div id="head1">Zero Hassle</div>
                   </br>
                   <div  id="para1">There is no hassle in opening a new savings account</div>
              
                       </div>
                       <div>
                           <img src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/fd_bank.790f7d8b.svg"/>
                   <div id="head1">Multiple Banks</div>
                   </br>
                   <div  id="para1">MOre options at your disposals to choose FDs</div>
               
                       </div>
                      </div>
                      <div id="container2">
                       <div>
                           <img src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/no_charges_tag.0c7d68d3.svg"/>
                           <div id="head1">No Hidden Charges</div>
                           </br>
                           <div  id="para1">Invest and Track Your deposits for free</div>
                       </div>
                       <div>
                            <div style="color: white;">.</div>
                           </br>
                           <div  id="para1">  </div>
                       
                       </div>
                      </div>
                     
             </div>

            

                

     </div>
     <div id="container3">
        <div >
            <img src="https://assets-netstorage.groww.in/mf-assets/logos/Group-1384.svg">
            <h1>
                Attention required
            </h1>
            <p>
                Complete setting up your account to 
                <br/>
                <br/>
                start investing on Groww
            </p>
            <button>
                COMPLETE SET UP
            </button>
    
        </div>
        </div>
    </section>

    <!-- Footer using partials (include takes relative path)-->
    <%- include("../../partials/footer.partial.ejs") %>


</body>
</html>