<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://groww.in/logo-groww270.png" sizes="32x32" />

    <title>Gold</title>
    
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sub-nav.css">
    <link rel="stylesheet" href="/css/gold.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

    <!-- nav using partials (include takes relative path)-->
    <%- include("../../partials/navbar.partial.ejs") %>       
    
    <!-- sub-nav using partials (include takes relative path)-->
    <%- include("../../partials/sub-nav.partial.ejs") %> 

    <section id="dashboard-main-gold">
        <div id="main">
            <div id="main1">
                <section>
                    <div id="container1">

                        <div id="xrsc">
                            <div>
                                <img
                                    src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/logo-augmont.cb7c8652.png">
                            </div>
                            <div>
                                <div id="light">
                                    Augmont Gold
                                </div>
                                <div id="heavy">
                                    Digital Gold
                                </div>
                                <div id="gdk">
                                    Gold 24K 99.09%
                                </div>

                            </div>
                        </div>
                        <div>
                            <div id="heavy2">
                                59.20%
                            </div>
                            <div id="crt">
                                3Y Return
                            </div>
                        </div>

                    </div>
                </section>
                <section>
                    <div id="photo">
                        <img src="./../assets/gold-graph.png">
                    </div>
                </section>
                <section>
                    <div id=container>
                        <div id="logo">
                            Digital Gold on Groww
                        </div>
                        <div id="font">
                            Digital Gold is a convenient and cost-effective way of purchasing gold online. Groww
                            offers Digital Gold of 99.90% purity that you can purchase, sell, and accumulate anytime at
                            the live market
                            rate, starting at Rs 10. Stored in 100% secured vaults and insured, you can view your
                            purchased Digital Gold
                            in your gold locker, which is a digital version for your holdings. <br><br>To provide you
                            pure and
                            top-quality bullion, Groww has partnered with Augmont Goldtech Pvt. Ltd.— an integrated
                            precious metals
                            management company.

                        </div>
                </section>
                <section>
                    <div id="container2">
                        <div>
                            <img
                                src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/buy_small_yellow.23af0db8.svg" />
                            <div id="head1">Buy Small</div>
                            </br>
                            <div id="para1">Purchase gold in fractions for as low as Rs 10</div>

                        </div>
                        <div>
                            <img
                                src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/sell_anytime_yellow.821df4c9.svg" />
                            <div id="head1">Sell Anytime</div>
                            </br>
                            <div id="para1">Liquidate your digital gold and get your money in 2 days</div>
                        </div>
                    </div>
                    <div id="container2">
                        <div>
                            <img
                                src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/safety_box_yellow.b534109d.svg" />
                            <div id="head1">100% secure</div>
                            </br>
                            <div id="para1">Stored in secured vaults and insured(verified by an independent trustee)
                            </div>

                        </div>
                        <div>
                            <img
                                src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/transparency_yellow.63c430e4.svg" />
                            <div id="head1">Transparent</div>
                            </br>
                            <div id="para1">Live market price tracking and zero making charges</div>

                        </div>
                    </div>
                    <div id="container2">
                        <div>
                            <img
                                src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/diversify_yellow.56516643.svg" />
                            <div id="head1">Diversify</div>
                            </br>
                            <div id="para1">Balance your portfolio with digital gold to reduce risk concentration</div>
                        </div>
                        <div>
                            <img
                                src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/exchange_yellow.48f9722e.svg" />
                            <div id="head1">Exchange</div>
                            </br>
                            <div id="para1"> Convert your digital gold to physical gold in the form of
                                coins/bars/jwellery(coming soon)</div>

                        </div>
                    </div>
                </section>
                <section>
                    <div id="logo">
                        How it works
                    </div>
                    <div id="container4">
                        <div id="nav">
                            <div>
                                BUY
                            </div>
                            <div>
                                SELL
                            </div>
                        </div>
                        <div id="block">
                            <div id="circle">
                                <div id="cirnum">
                                    1
                                </div>
                            </div>
                            <block1>
                                <div id="head2">
                                    Enter the amount
                                </div>
                                <div id="para2">
                                    You can input your desired purchase amount in rupees or gram
                                </div>
                            </block1>
                        </div>
                        <div id="block">
                            <div id="circle">
                                <div id="cirnum">
                                    2
                                </div>
                            </div>
                            <block1>
                                <div id="head2">
                                    Buy in one click
                                </div>
                                <div id="para2">
                                    Review your order and place your order using Upi/net banking within 5min pricedown
                                </div>
                        </div>
                        <div id="block">
                            <div id="circle">
                                <div id="cirnum">
                                    3
                                </div>
                            </div>
                            <block1>
                                <div id="head2">
                                    Secured and assured
                                </div>
                                <div id="para2">
                                    Your gold locker will be updated where you can see your purchased digital gold
                                    holding
                                </div>

                        </div>
                        <div id="bimg">
                            <img
                                src="https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/hiw.5dbff7ec.svg">
                        </div>
                    </div>
                </section>
                <section>
                    <div id="container5">
                        <div id="logo">

                            Frequently Asked Questions

                        </div>
                        <div id="questions">
                            1. About Digital Gold
                        </div>
                        <div id="subquestions">


                            <div>
                                <div>
                                    what is digital gold ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>




                            <div>
                                <div>
                                    where does groww get the gold from ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>





                            <div>
                                <div>
                                    what is the gold locker ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>


                            <div>
                                <div>
                                    what is purity of the gold offered by augmont ?

                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>




                            <div>
                                <div>
                                    what are the charges applicable ?

                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>


                        </div>
                        <div id="questions">
                            2. Eligibility Criteria
                        </div>
                        <div id="subquestions">


                            <div>
                                <div>
                                    what is the eligibilty criteria for buying gold on groww ?

                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>





                            <div>
                                <div>
                                    DO I need to complete KYC to buy digital gold on groww ?

                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>


                        </div>
                        <div id="questions">
                            3. Buying Digital gold
                        </div>
                        <div id="subquestions">


                            <div>
                                <div>
                                    How do I buy digital gold on groww ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>




                            <div>
                                <div>
                                    What is the live price ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>






                            <div>
                                <div>
                                    Is there any minimum order quantity or price to buy digital gold ?

                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>





                            <div>
                                <div>
                                    Is there any maximun order quantity of DIgital gold you can buy ?

                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>




                            <div>
                                <div>
                                    Can I cancel my digital gold purchase ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>


                        </div>
                        <div id="questions">
                            4. Storage and Insurance
                        </div>
                        <div id="subquestions">

                            <div>
                                <div>
                                    How do I buy digital gold on groww ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>





                            <div>
                                <div>
                                    What is the live price ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>

                            <div>
                                <div>
                                    Is there any minimum order quantity or price to buy digital gold ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>





                        </div>
                        <div id="questions">
                            5. Selling Digital Gold
                        </div>
                        <div id="subquestions">



                            <div>
                                <div>
                                    what is digital gold ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>




                            <div>
                                <div>
                                    where does groww get the gold from ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>





                            <div>
                                <div>
                                    what is the gold locker ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>



                            <div>
                                <div>
                                    what is purity of the gold offered by augmont ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>



                            <div>
                                <div>
                                    what are the charges applicable ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>





                        </div>
                        <div id="questions">
                            6. Order Related
                        </div>
                        <div id="subquestions">
                            <div>


                                <div>
                                    How do I buy digital gold on groww ?
                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>




                            <div>

                                <div>
                                    What is the live price ?

                                </div>

                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>
                            </div>



                        </div>
                        <div id="questions">
                            7. Delivery of gold
                        </div>
                        <div id="subquestions">
                            <div>
                                <div>
                                    Can I request my delivery of gold?
                                </div>
                                <div>
                                    <img src="./../assets/expand_more_black_24dp.svg">
                                </div>

                            </div>



                        </div>
                    </div>
                </section>
            </div>

        </div>
        <div id="container3" style="
    margin-top: 200px;">
            <div>
                <img src="https://assets-netstorage.groww.in/mf-assets/logos/Group-1384.svg">
                <h1>
                    Attention required
                </h1>
                <p>
                    Complete setting up your account to
                    <br />
                    <br />
                    start investing on Groww
                </p>
                <button>
                    COMPLETE SET UP
                </button>

            </div>
        </div>
    </section>

    <!-- Footer using partials (include takes relative path)-->
    <%- include("../../partials/footer.partial.ejs") %>

</body>
</html>
