<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            href="https://groww.in/logo-groww270.png"
            sizes="32x32"
        />
        <title>mutual fund</title>
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/sub-nav.css" />
        <link rel="stylesheet" href="/css/mutual-funds.css" />
        <link rel="stylesheet" href="/css/footer.css" />

        <style>
            #footer{
                position: absolute;
                bottom: -120%;
            }
        </style>
    </head>
    <body>
        <!-- nav using partials (include takes relative path)-->
        <%- include("../../partials/navbar.partial.ejs") %>

        <!-- sub-nav using partials (include takes relative path)-->
        <%- include("../../partials/sub-nav.partial.ejs") %>

        <div class="main_container">
            <div class="cont_1 col 112">
                <div class="cont_11">
                    <div class="cont_111">
                        <div class="p_box">
                            <div class="p_box_txt1">Popular Funds</div>
                            <div class="p_box_txt2">SEE ALL MUTUAL FUNDS</div>
                        </div>

                        <div class="cont_1115 col 112">
                            <div class="stocks_in_news row align-wrapper col">
                                <a>
                                    <div>
                                        <div class="stock_box">
                                            <div
                                                class="align-wrapper space_btw"
                                            >
                                                <div class="stock_box_child11">
                                                    <div>
                                                        <img
                                                            class="
                                                                stock_box_img
                                                            "
                                                            src="https://assets-netstorage.groww.in/stock-assets/logos/INE040A01034.png"
                                                            alt="hdfc"
                                                        />
                                                    </div>
                                                </div>
                                                <div
                                                    class="stock_box_child12"
                                                ></div>
                                            </div>
                                            <div>
                                                <div class="stcok_box_size">
                                                    <div class="bank_text">
                                                        HDFC Bank
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="stock_box_text">
                                                    ₹1459.00
                                                </div>
                                                <div class="stock_box_text1">
                                                    15.85(1.10%)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a>
                                    <div>
                                        <div class="stock_box">
                                            <div
                                                class="align-wrapper space_btw"
                                            >
                                                <div class="stock_box_child11">
                                                    <div>
                                                        <img
                                                            class="
                                                                stock_box_img
                                                            "
                                                            src="https://assets-netstorage.groww.in/stock-assets/logos/INE917I01010.png"
                                                            alt="hdfc"
                                                        />
                                                    </div>
                                                </div>
                                                <div
                                                    class="stock_box_child12"
                                                ></div>
                                            </div>
                                            <div>
                                                <div class="stcok_box_size">
                                                    <div class="bank_text">
                                                        Bajaj Auto
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="stock_box_text">
                                                    ₹3853.20
                                                </div>
                                                <div class="stock_box_text1">
                                                    -52.20(1.34%)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a>
                                    <div>
                                        <div class="stock_box">
                                            <div
                                                class="align-wrapper space_btw"
                                            >
                                                <div class="stock_box_child11">
                                                    <div>
                                                        <img
                                                            class="
                                                                stock_box_img
                                                            "
                                                            src="https://assets-netstorage.groww.in/stock-assets/logos/INE397D01024.png"
                                                            alt="  AIRTEL"
                                                        />
                                                    </div>
                                                </div>
                                                <div
                                                    class="stock_box_child12"
                                                ></div>
                                            </div>
                                            <div>
                                                <div class="stcok_box_size">
                                                    <div class="bank_text">
                                                        Aitel
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="stock_box_text">
                                                    ₹546.00
                                                </div>
                                                <div class="stock_box_text1">
                                                    20.85(1.14%)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a>
                                    <div>
                                        <div class="stock_box">
                                            <div
                                                class="align-wrapper space_btw"
                                            >
                                                <div class="stock_box_child11">
                                                    <div>
                                                        <img
                                                            class="
                                                                stock_box_img
                                                            "
                                                            src="https://assets-netstorage.groww.in/stock-assets/logos/INE245A01021.png"
                                                            alt="TATA"
                                                        />
                                                    </div>
                                                </div>
                                                <div
                                                    class="stock_box_child12"
                                                ></div>
                                            </div>
                                            <div>
                                                <div class="stcok_box_size">
                                                    <div class="bank_text">
                                                        Tata Power
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="stock_box_text">
                                                    ₹129.70
                                                </div>
                                                <div
                                                    style="
                                                        color: #00d09c;
                                                        margin-top: 20px;
                                                        font-size: 0.8em;
                                                        font-weight: bold;
                                                    "
                                                >
                                                    1.85(1.25%)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!--HAndPicked Collections-->

                        <div class="h_box">
                            <div class="p_box_txt1">Handpicked Collections</div>
                        </div>
                        <div class="col">
                            <div class="handpicked align-wrapper">
                                <span>
                                    <a>
                                        <div>
                                            <img
                                                src="./../assets/high_return.svg"
                                                width="45"
                                                height="45"
                                            />
                                        </div>
                                        <div>HIGH RETURNS</div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div>
                                            <img
                                                src="./../assets/tax_saving.svg"
                                                width="45"
                                                height="45"
                                            />
                                        </div>
                                        <div>TAX SAVING</div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div>
                                            <img
                                                src="./../assets/low_risk.svg"
                                                width="45"
                                                height="45"
                                            />
                                        </div>
                                        <div>BETTER THAN FD</div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div>
                                            <img
                                                src="./../assets/top_companies.svg"
                                                width="45"
                                                height="45"
                                            />
                                        </div>
                                        <div>TOP COMPANIES</div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div>
                                            <img
                                                src="./../assets/sip500.svg"
                                                width="45"
                                                height="45"
                                            />
                                        </div>
                                        <div>SIP With ₹500</div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div>
                                            <img
                                                src="./../assets/return_risk.svg"
                                                width="45"
                                                height="45"
                                            />
                                        </div>
                                        <div>SECTOR BETS</div>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <!--Box Icon with detail-->
                        <div class="box_cont col">
                            <div
                                class="align-wrapper"
                                style="justify-content: space-around"
                            >
                                <span>
                                    <a>
                                        <div class="box_cont_1">
                                            <div class="box_cont_12">
                                                <div>
                                                    <img
                                                        src="./../assets/import_funds.svg"
                                                        width="60"
                                                        height="60"
                                                    />
                                                </div>
                                            </div>
                                            <div class="box_text">
                                                IMPORT FUNDS
                                            </div>
                                        </div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div class="box_cont_1">
                                            <div class="box_cont_12">
                                                <div>
                                                    <img
                                                        src="./../assets/SMART_SAVE.svg"
                                                        width="60"
                                                        height="60"
                                                    />
                                                </div>
                                            </div>
                                            <div class="box_text">
                                                SMART SAVE
                                            </div>
                                        </div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div class="box_cont_1">
                                            <div class="box_cont_12">
                                                <div>
                                                    <img
                                                        src="./../assets/SWITCH.svg"
                                                        width="60"
                                                        height="60"
                                                    />
                                                </div>
                                            </div>
                                            <div class="box_text">
                                                SWITCH TO DIRECT
                                            </div>
                                        </div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div class="box_cont_1">
                                            <div class="box_cont_12">
                                                <div>
                                                    <img
                                                        src="./../assets/LIVE.svg"
                                                        width="60"
                                                        height="60"
                                                    />
                                                </div>
                                            </div>
                                            <div class="box_text">LIVE NFO</div>
                                        </div>
                                    </a>
                                </span>
                                <span>
                                    <a>
                                        <div class="box_cont_1">
                                            <div class="box_cont_12">
                                                <div>
                                                    <img
                                                        src="./../assets/COMPARE.svg"
                                                        width="60"
                                                        height="60"
                                                    />
                                                </div>
                                            </div>
                                            <div class="box_text">
                                                COMPARE FUNDS
                                            </div>
                                        </div>
                                    </a>
                                </span>
                            </div>
                        </div>

                        <!--Second Box Of list-->
                    </div>
                    <div class="cont_112">
                        <div>
                            <div>
                                <div
                                    class="
                                        cont_112_child
                                        col
                                        row
                                        112
                                        cont_112_child2
                                    "
                                    style="float: right"
                                >
                                    <div
                                        class="
                                            cont_112_child2_div1
                                            center_align
                                        "
                                    >
                                        <div>
                                            <img
                                                src="	https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/newToMf.f28263ce.svg"
                                                width="140"
                                                height="140"
                                                alt="msg"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            .cont_112_child2_div1
                                            center_align
                                        "
                                    >
                                        <div class="cont_112_child2_div2_text1">
                                            New To Mutual Funds?
                                        </div>
                                        <div class="cont_112_child2_div2_text2">
                                            Starts exploring mutual funds to
                                            bieng your investment journey
                                        </div>
                                    </div>
                                    <div
                                        style="
                                            position: absolute;
                                            font-weight: 500;
                                            bottom: 20px;
                                        "
                                    >
                                        <div>
                                            <div class="complte_setup_btn">
                                                <div
                                                    class="absolute-center"
                                                    style="height: inherit"
                                                >
                                                    <span
                                                        class="absolute-cenetr"
                                                        style="
                                                            padding: 0px 25px;
                                                        "
                                                    >
                                                        <span
                                                            >EXPLORE MUTUAL
                                                            FUNDS</span
                                                        >
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div
                                    class="
                                        cont_112_child
                                        col
                                        row
                                        112
                                        cont_112_child2
                                    "
                                    style="float: right"
                                >
                                    <div
                                        class="
                                            cont_112_child2_div1
                                            center_align
                                        "
                                    >
                                        <div>
                                            <img
                                                src="	https://assets-netstorage.groww.in/website-assets/prod/1.7.6/build/client/images/startSip.41b525fc.svg"
                                                width="140"
                                                height="140"
                                                alt="msg"
                                            />
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            .cont_112_child2_div1
                                            center_align
                                        "
                                    >
                                        <div class="cont_112_child2_div2_text1">
                                            Have a SIP!
                                        </div>
                                        <div class="cont_112_child2_div2_text2">
                                            Start and manage monthly investment
                                            on groww,simple and fast
                                        </div>
                                    </div>
                                    <div
                                        style="
                                            position: absolute;
                                            font-weight: 500;
                                            bottom: 20px;
                                        "
                                    >
                                        <div>
                                            <div class="complte_setup_btn">
                                                <div
                                                    class="absolute-center"
                                                    style="height: inherit"
                                                >
                                                    <span
                                                        class="absolute-cenetr"
                                                        style="
                                                            padding: 0px 25px;
                                                        "
                                                    >
                                                        <span
                                                            >COMPLETE
                                                            SETUP</span
                                                        >
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer using partials (include takes relative path)-->
        <%- include("../../partials/footer.partial.ejs") %>
    </body>
</html>
