<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            href="https://groww.in/logo-groww270.png"
            sizes="32x32"
        />
        <title>US Stocks</title>
        <link rel="stylesheet" href="/css/navbar.css" />
        <link rel="stylesheet" href="/css/sub-nav.css" />
        <link rel="stylesheet" href="/css/us-stocks.css" />
        <link rel="stylesheet" href="/css/footer.css" />

       
    </head>
    <body>
        <!-- nav using partials (include takes relative path)-->
        <%- include("../../partials/navbar.partial.ejs") %>

        <!-- sub-nav using partials (include takes relative path)-->
        <%- include("../../partials/sub-nav.partial.ejs") %>

        <section id="dashboard-main-usstock" >
            <div id="main">
        
        
        <div id="main1">
        <section>
           
            <div id="hed">
                <i class="fas fa-bell"></i> 
              <span>US Market Opens at 5 Am</span>      
             </div>
           <div id="navdiv1">
            <div id="logo">
                Top by Market Cap
                </div>
            
            <div id="button-nav">
                <button id="login">All Stocks</button>
            </div>
        </div>
        <div id="container">
        <div >
          <img src="https://assets-netstorage.groww.in/intl-stocks/logos/AAPL.png">
          <br/>
          <p>
              Apple ,inc.
          </p>
          <h1>
              2.3%
          </h1>
        </div>
        <div >
            <img src="https://assets-netstorage.groww.in/intl-stocks/logos/MSFT.png">
            <br/>
            <p>
                Microsoft,inc.
            </p>
            <h1>
                .63%
            </h1>
        </div>
        
        <div >
          <img src="https://assets-netstorage.groww.in/intl-stocks/logos/AMZN.png">
          <br/>
          <p>
            Amazon,inc.
        </p>
        <h1>
            .69%
        </h1>
        </div>
        <div >
            <img src="https://assets-netstorage.groww.in/intl-stocks/logos/GOOGL.png">
            <br/>
            <p>
                Alphabet,inc.
            </p>
            <h1>
                1.13%
            </h1>
          
        </div>
        </div>
        
        </section>
        <section1>   
        <div id="navdiv1">
        <div id="logo">
            ETFs
            </div>
        
        <div id="button-nav">
            <button id="login">All ETFs</button>
        </div>
        </div>
        <div id="container2">
        <div class="">
        <div>
           S&P 500 ETF SPDR F
        </div>
        <div>
            <h1>
                2.62
             </h1>
        </div>
        
        </div>
        <div >
        <div>
            Growth ETF Vanguard
         </div>
         <div>
             <h1>
                .62
             </h1>
            
         </div>
        </div>
        
        </div>
        <div id="container2">
        <div >
            <div>
              Schabw US  ETF
            </div>
            <div>
                <h1>
                    1.42
                 </h1>
            </div>
        
        </div>
        <div >
            <div>
               Russel Ishare ETF
             </div>
             <div>
                 <h1>
                   1.36
                 </h1>
                
             </div>
        </div>
           
        </div>
        </section1>
        <section2>
           
        <div id="navdiv">
        <div id="logo">
            Sectors
            </div>
        </div>
        </section2>
        <section7>
        
            <div style="width: 750px;">
                <div class="grid_div">
                    <div class="span">Banking</div>
                    <div>|</div>
                    <div class="blue">35</div>
                </div>
                <div class="grid_div">
                    <div>Energy</div>
                    <div>|</div>
                    <div class="blue">84</div>
                </div>
                <div class="grid_div">
                    <div>Technology</div>
                    <div>|</div>
                    <div class="blue">484</div>
                </div>
                <div class="grid_div">
                    <div>Healthcare</div>
                    <div>|</div>
                    <div class="blue">395</div>
                </div>
                <div class="grid_div">
                    <div>Financial Service</div>
                    <div>|</div>
                    <div class="blue">180</div>
                </div>
                <div class="grid_div">
                    <div>Industries</div>
                    <div>|</div>
                    <div class="blue">180</div>
                </div>
                <div class="grid_div">
                    <div>FMCG</div>
                    <div>|</div>
                    <div class="blue">182</div>
                </div>
                <div class="grid_div">
                    <div>Automobile</div>
                    <div>|</div>
                    <div class="blue">118</div>
                </div>
                <div class="grid_div">
                    <div>Real Estate</div>
                    <div>|</div>
                    <div class="blue">118</div>
                </div>
                <div class="grid_div">
                    <div>Utilities</div>
                    <div>|</div>
                    <div class="blue">118</div>
                </div>
                <div class="grid_div">
                    <div>Tele-Comunication</div>
                    <div>|</div>
                    <div class="blue">46</div>
                </div>
                <div class="grid_div">
                    <div>Media & Entertainment</div>
                    <div>|</div>
                    <div class="blue">86</div>
                </div>
        
            </div>
           <div id="null">
        
           </div>
        
        </section7>
        <section3>
        <div id="smallcontainer" >
            <button id="smallbutton">See all Stocks ></button>
        </div>
        <div id="navdiv">
            <div id="logo">
                FAQs
                </div>
            </div>
         <div id="container5">
             <div>
                 Where is account held ? Who is responsible for custody and clearing ?   
             </div>
            
                <p>
                    The brokerage account is managed by ViewTrade securities - an SEC registered and FINRA regulated broker for books and records, which works with Apex Clearing Corporation for trade the clearing and custodian aspects of user accounts.
                </p>
           
            <div>
                Can i change my bank account later for transactions ?   
            </div>
            
                <p>
                   It is not suggested to change the bank account upon succesful transaction. This is because of AML (Anti Money Laundering) law that the governing agencies file and monitor. However, if you wish to change your bank account provided a genuine reason, in cases like bank account closure, etc. please contact us. 
                   
                </p>
            
            <div>
               can i use my existing Indian Groww Balance to fund my US account ? 
            </div>  
           
                <p>
                    No, Groww balance can only be used for Indian stock and MF investments and not for US stocks. This is an international wire transaction and the account is being opened at Groww's broker partner's end. Before you trade, the funds have to be directed under the LRS process. You are funding your own brokerage account from India to invest in US stocks. You could consider this as your USD balance. 
               </p>
           
            <div>
                What is the cost that my bank would charge me for doing an LRS ?
            </div>
           
                <p>
                    For any LRS transaction, the banks generally charge a forex conversion rate and a service charge plus tax for doing any outward remittances. Groww is working with multiple Indian banks for a pre-negotiated rate on remittances for its users. You can find these banks available on Groww's platform.
                </p>
           
            <div>
                Where are tax implications ?
            </div>
            
                <p>
                    Taxation for US stocks is very straight forward. Due to the Double Taxation Avoidance Agreement (DTAA) between India and the US there is no tax on capital gains deducted in the US for Indian residents. You will have to pay for capital gains tax in India based upon long term (above 24 months) and short term (below 24 months) holdings of your investments. 
                </p>
          
         
         </div>
        </section3>
        </div>
        
        <div id="container3">
            <div >
                <img src="https://assets-netstorage.groww.in/mf-assets/logos/Group-1384.svg">
                <h1>
                    Attention required
                </h1>
                <p>
                    Complete setting up your account to 
                    <br/>
                    <br/>
                    start investing on Groww
                </p>
                <button>
                    COMPLETE SET UP
                </button>
        
            </div>
            </div>
        </div>
        </section>

        <!-- Footer using partials (include takes relative path)-->
        <%- include("../../partials/footer.partial.ejs") %>
    </body>
</html>