*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, system-ui;
}
body {
    overflow: hidden;
}

.not-found-container{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-line1{
    font-size: 45px;
    font-weight: 500;
    color: rgb(211, 211, 211);
    margin-bottom: 5px; 
}

.not-found-line2{
    font-size: 45px;
    font-weight: 500;
    color: #44475b;
    margin-bottom: 40px; 
}

.not-found-link-to-home{
    text-decoration: none;
    color: #5367ff 
}

.low-balance{
    font-size: 45px;
    font-weight: 500;
    color: rgb(255, 57, 57);
    margin-bottom: 5px; 
}

.update-wallet{
    font-size: 45px;
    font-weight: 500;
    color: #00d09c;
    margin-bottom: 40px; 
}

.successful{
    font-size: 45px;
    font-weight: 500;
    color: #00d09c;
    margin-bottom: 40px; 
}