<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/ed0c6c9c7d.js"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <title>Register</title>
        <link rel="stylesheet" href="/css/register.css" />
    </head>
    <body>
        <div class="main_container">
            <div class="central_container">
                <div class="left_central_container">
                    <img src="/assets/logo-light-groww.1815ad63.svg" alt="" />
                </div>
                <div class="right_central_container">


                    <form action="/register" method="post">
                        <div class="form_input">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" required />
                        </div>

                        <div class="form_input">
                            <label for="password">Password</label>
                            <input
                                type="password"
                                name="user_password"
                                id="password"
                                required
                            />
                        </div>

                        <div class="form_input">
                            <label for="dob">Date of Birth</label>
                            <input type="date" name="dob" id="dob" required />
                        </div>

                        <div class="form_input">
                            <label for="mobile_no">Mobile Number</label>
                            <input
                                type="number"
                                name="mobile_no"
                                id="mobile_no"
                                maxlength="10"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)"
                                required
                            />
                        </div>
                        <div class="form_input">
                            <label for="pan_no">PAN </label>
                            <input
                                type="text"
                                name="pan_no"
                                id="pan_no"
                                onkeyup="this.value = this.value.toUpperCase()"
                                maxlength="9"
                                required
                            />
                        </div>
                        <div class="form_input">
                            <label for="email">Email</label>
                            <input
                                type="email"
                                name="user_email"
                                id="email"
                                required
                            />
                        </div>
                        <div class="gender">
                            <label for="">Gender</label>
                            <br />
                            <input
                                type="radio"
                                id="gender1"
                                name="gender"
                                value="male"
                                required
                            />
                            <label for="gender1">Male</label>
                            <input
                                type="radio"
                                id="gender2"
                                name="gender"
                                value="female"
                                required
                            />
                            <label for="gender2">Female</label>
                        </div>
                        <input
                            type="submit"
                            name=""
                            id="submit"
                            value="Register"
                        />
                    </form>

                    
                </div>
            </div>
        </div>
    </body>
</html>
